
@import "teamTable.css";

body {
  background-color: #181c28;
  color: #ffffff;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

.center-text {
  text-align: center;
}

.plain_text {}

.error_text {
  color: red;
}

.strike {
  text-decoration: line-through;
}

.footnote {
  font-size: 0.75em;
}

.app {
  display: flex;
  flex-direction: column;
}

.appBody {
  /*
  This is the ugliest hack, but it gets the teams to scroll while leaving the header
  and footer fixed in place. I don't understand why it works, and I've tried about
  100 different SO answers that don't. So I'm leaving it here because I'm tired of
  fighting with CSS.
  */
  height: 80vh;
  overflow: scroll;
}

.teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.team {
  background-color: rgba(58, 70, 91, 0.5);
  margin: 10px;
  padding: 3px;
}

.visibilityTable {
  table-layout: fixed;
  margin: auto; /* To center the table within the container */
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 80%;
  }
}
