/*
Styling for the players table. Largely from
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Styling_tables
 */
.teamTable table {
    table-layout: fixed;
    border-collapse: collapse;
}

.teamTable {
    white-space: nowrap;
}

.owner {
    font-size: 150%;
}

.playerHeader {
    font-size: 110%;
    text-decoration: underline;
}

/* Puts a little vertical spacing between each player's row */
.teamTable tbody td, tr {
    padding-bottom: 5px;
    padding-top: 5px;
}

.teamTable tbody td, tfoot td {
    text-align: center;
}

.teamTable tfoot {
    font-size: 115%;
}

.teamTable tfoot th {
    text-align: right;
}

.teamTable tfoot td {
    padding: 5px;
}

/*
This is a hack to force the points and round columns to a larger size to allow
the -> xxx to be added without resizing the overall table. There's probably a better
way to do this. But I don't know it. And skip it on mobile as it makes the table too
wide for the screen.
*/
@media screen and (min-width: 640px) {
    .points {
        min-width: 5em;
    }
}

.teamTable tbody tr:nth-child(even) {
    background-color: #1f2431;
}
